<ion-view view-title="Conta">
  <ion-content>
    <ion-list>
      <ion-item class="item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </ion-item>
      <ion-item class="item-input item-floating-label">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Senha">
      </ion-item>
      <div class="padding">
        <button class="button button-block button-positive ion-log-in">
          Entrar
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
