<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item class="item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username">
      </ion-item>
      <ion-item class="item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </ion-item>
      <div class="padding">
        <button class="button button-block button-positive ion-log-in">
          Sign in
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
